* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #9d9ea4;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.game-container {
    position: absolute;
    top: 10%;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 300px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.game-container--big {
    width: 500px;
    height: 250px;
}

.game-container__timer {
    position: absolute;
    top: -30px;
    left: 48%;
    color: white;
    font-size: 24px;
    transition: opacity 1s ease-in-out;
}

.card__line {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(25% - 10px);
    margin-bottom: 5px;
}

.card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.3);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.card:hover {
    transform: scale(0.90);
}

.card.flip {
    transform: rotateY(180deg);
}

.card.success .card__front {
    background-color: #17db73;
}

.card__back,
.card__front {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #0D1127;
    border: 2px solid #5978F3;
    border-radius: inherit;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, background-color .3s ease-in-out;
}

.card__back:hover,
.card__front:hover {
    background-color: #3852ca;
}

.card__front {
    opacity: 0;
}

.card.flip .card__front {
   transform: rotateY(180deg);
   opacity: 1;
}

.card.flip .card__back {
    opacity: 0;
}

.card-img {
    width: 100%;
    height: 100%;
}

.start__window {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100vh;
    transition: opacity .9s ease-in-out;
}

.start__title {
    margin-bottom: 80px;
    font-size: 50px;
    color: white;
}

.select-descr {
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}

.form-select {
    width: 50%;
    margin-bottom: 20px;
    padding: 15px 20px;
    color: white;
    background-color: #0D1127;
    border: 3px solid #5978F3;
    border-radius: 5rem;
    cursor: pointer;
}

.input__descr {
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
}

.vertical-count,
.horizontal-count {
    width: 50px;
    margin-bottom: 10px;
    padding-left: 16px;
    padding-right: 15px;
    color: white;
    background-color: #0D1127;
    outline: none;
    border: 2px solid #5978F3;
    border-radius: 3rem;
    transition: background-color .3s ease-in-out;
}

.vertical-count:hover,
.horizontal-count:hover {
    background-color: #3852ca;
}

.end__window__congrats {
    position: absolute;
    width: 100%;
    font-size: 40px;
    color: white;
    top: 20%;
}

.restart__btn {
    position: absolute;
    top: 40%;
    padding: 20px 40px;
    color:white;
    background-color: #0D1127;
    border: 3px solid #5978F3;
    border-radius: 5rem;
    transition: background-color .3s ease-in-out;
    cursor: pointer;
}

.start__btn {
    width: 40%;
    top: 10px;
    padding: 10px;
    color:white;
    background-color: #0D1127;
    border: 3px solid #5978F3;
    border-radius: 5rem;
    transition: background-color .3s ease-in-out;
    cursor: pointer;
}

.start__btn:hover,
.restart__btn:hover,
.game-over__btn:hover {
    background: #3852ca;
}

.end__window {
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100vh;
    background-color: #9d9ea4;
    opacity: 0;
    transition: opacity 1s ease-in-out
}

.end__window img {
  border-radius: 5rem;
}

.game-over {
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100vh;
    background-color: #172050;
    opacity: 0;
    transition: opacity 1s ease-in-out
}

.game-over__descr {
    position: absolute;
    top: 30%;
    font-size: 24px;
    color: white;
}

.game-over__btn {
    width: 40%;
    top: 10px;
    padding: 10px;
    color:white;
    background-color: #0D1127;
    border: 3px solid #5978F3;
    border-radius: 5rem;
    transition: background-color .3s ease-in-out;
    cursor: pointer;
}

.active {
    opacity: 1;
    z-index: 1000;
}

.hidden {
    opacity: 0;
    z-index: -1;
}

